.page {
  padding: 20px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	right:40px;
	background-color:rgb(75, 189, 90);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index: 1000;
}

.my-float {
  font-size: 39px;
  font-weight: 700;
}